panel/fp-info-cache
panel/fp-lib-table
main/fab/~$pipes_cpl.xlsx
main/fp-info-cache
main/fp-info-cache
main/main-backups
panel/panel-backups
main/#auto_saved_files#
img
temp
~$*
*.bat
config.csv
checkin_comment.txt
*.tmp
*.kicad_sch-bak

